/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* UTILS */

.card {
  @apply w-2/3 p-2 shadow-lg bg-gray-100 rounded-md  mb-4;
}

.input {
  @apply rounded-md pl-2 flex-1 mr-2 border border-gray-300;
}

.btn-mini {
  @apply p-2 rounded-md shadow-md border hover:bg-opacity-80 active:bg-opacity-60 focus:ring-2 focus:ring-blue-600;
}

/* HOME */

.home {
  @apply w-full h-full flex mt-14 items-center flex-col;
}

.title {
  @apply text-4xl mb-6;
}

/* MODAL */
.popup__container {
  @apply w-screen h-screen bg-opacity-30 bg-black absolute top-0 left-0 flex justify-center items-center;
}

.modal__container {
  @apply w-1/2 h-1/2 shadow-lg rounded-md;
}